.track-list {
    list-style-type: none;
}

.track {
    padding-bottom: 0.5em;
    transition: all 1250ms ease;
    box-sizing: border-box;

    .track-title {
         padding-top: 0.6em;
         padding-bottom: 0.6em;
    }

    .current {
        border-left-color: @accent-1-color;
        border-left-width: 5px;
        border-left-style: solid;
    }

    .track-paper {
        background-color: white;
    }
}
